<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>ReSa - Home</title>
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
		<div class="box">
			<form>
				<h1 class="welcome">Welcome</h1>
				<div class="myname">{{loginname}}</div>
				<a href="./" class="logout">Logout</a>
			</form>
		</div>
	</body>
</html>
